<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="cordova-plugin-mathcalculator" version="1.0.0">
   <name>MathCalculator</name>

   <js-module name="MathCalculator" src="www/MathCalculator.js">
      <clobbers target="MathCalculator" />
   </js-module>

   <!-- android -->
   <platform name="android" kotlin="1.2.30">
      <!-- Add Kotlin support -->
      <hook type="after_plugin_add" src="hooks/support-kotlin.js" />
      <hook type="after_platform_add" src="hooks/support-kotlin.js" />
      <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.2.31" />
      <apply-plugin>kotlin-android</apply-plugin>
      <apply-plugin>kotlin-android-extensions</apply-plugin>
      <apply-plugin>kotlin-kapt</apply-plugin>

      <!-- Cleanup Kotlin source on uninstall -->
      <hook type="before_plugin_rm" src="hooks/on-uninstall.js" />
      <hook type="before_plugin_uninstall" src="hooks/on-uninstall.js" />

      <config-file parent="/*" target="config.xml">
         <feature name="MathCalculator">
            <param name="android-package" value="cordova.plugin.MathCalculator" />
         </feature>
      </config-file>

      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/MathCalculator.kt" target-dir="app/src/main/java/cordova/plugin" />
   </platform>

   <!-- ios -->
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="MathCalculator">
            <param name="ios-package" value="MathCalculator" />
         </feature>
      </config-file>
      <source-file src="src/ios/MathCalculator.swift" />

      <podspec>
         <pods use-frameworks="true">
            <pod name="techsigncloudlibs" source="https://github.com/thisiswunder/techsign-podspecs.git" spec="1.2.9-wrapper" />
         </pods>
      </podspec>
   </platform>
</plugin>